.signup_wrap {
    max-width: 500px;
    margin: 0 auto;
}
.input_wrap2 {
    width: 60%;
    margin: 0 auto;
}
#input_id1 {
    width: 62%;
}
.interval {
    margin: 15px 0;
}
.input_button {
    display: flex;
    justify-content: space-between;
}
.email_wrap {
    display: flex;
}
#input_email {
    width: 58%;
}
.symbols {
    margin: 5px;
    font-size: 1.2rem;
}
.select {
    height: 36px;
    width: 120px;
}
.button_wrap2 {
    display: flex;
    width: 57%;
    gap: 20px;
    margin: 20px auto;
}
